<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>

<nav id='<%= dom_id %>' class='<%= css %>'>
  <div id="menu-wrapper" class="clearfix">
    <ul class="clearfix">
      <% for menu_branch in roots do %>
        <%
          classes = []
          if !!local_assigns[:apply_css] and (classes = menu_branch_css(local_assigns)).any?
          end

          if (@page.parent && @page.parent.title==menu_branch.title) || @page.title==menu_branch.title
            classes += ['selected']
          end

          css = "class='#{classes.join(' ')}'".html_safe
        -%>
        <li<%= ['', css].compact.join(' ').gsub(/\ *$/, '').html_safe %>>
          <%= link_to(menu_branch.title, refinery.url_for(menu_branch.url)) -%>
        </li>
      <% end %>
    </ul>

    <div id="menu-content">
      <span>(301) 650-0086</span>
      <%= image_tag 'menu_bug.png' %>
    </div>
  </div>
</nav>

<nav id="sub-menu">
  <% if @page.children.size > 0 -%>
    <% children = @page.children %>
  <% else -%>
    <% children = @page.parent.children rescue nil %>
  <% end -%>

  <% if children.present? and @page.title != 'Home' -%>
    <ul class='clearfix'>
      <%= render :partial => '/refinery/menu_branch', :collection => children,
                 :locals => {
                   :apply_css => local_assigns[:apply_css],
                   :hide_children => false,
                   :menu_levels => 1
                 } -%>
    </ul>
  <% end -%>
</nav>

<% end -%>